/KidsPreschoolLearningSystem/nbproject/private/
/JavaApplication1/nbproject/private/
/ContactEditor/nbproject/private/
/KidsPreschoolLearningSystem/build/
/KidsPreschoolLearningSystem/dist/
/ACTest/nbproject/private/